%% -*- erlang -*-
[{rodent, [{host, "localhost"},
           {port, 7070},
           {index, "index.txt"},
           {routes, [#{selector => <<"/">>, data => <<>>},
                     #{selector => <<"/test/*">>,
                       callback => rodent_static,
                       args => {priv_dir, rodent, "test"}}]}]}].
