%% -*- erlang -*-
[{kernel, [{logger, [{handler, default, logger_std_h,
                      #{level => notice,
                        formatter => {logger_formatter, #{depth => 30}},
                        config => #{type => standard_io}}}]}]},
 {rodent, [{host, "localhost"},
           {port, 7070},
           {routes, [#{selector => <<"/">>,
                       callback => rodent_static,
                       args => {format, {data, <<"iIt works\t%h\t%p\r\n.\r\n">>}}}]}]}].
